
:root {
    /* RGB */
    --color1: rgba(10, 72, 114, 1);
    --color2: rgba(201, 251, 255, 1);
    --color3: rgba(159, 177, 188, 1);
    --color4: rgba(211, 208, 203, 1);
    --color5: rgba(226, 192, 68, 1);
}

.nav__logo a i {
    display: inline-block;
    margin-right: 10px;
}
.breathe__center {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}
.breathe {
    height: 40px;
    width: 40px;
    background: var(--color2);
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.breathe.active {
    animation-name: breathe;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes breathe {
    0%   {
        height: 40px;
        width: 40px;
    }
    50%  {
        height: 240px;
        width: 240px;
    }
    100% {
        height: 40px;
        width: 40px;
    }
}